{% import "@Core/admin/macros/menu.html.twig" as macros_menu %}

<ul class="nav flex-column">
    {{ include('@Core/admin/module/_menu_item.html.twig', {
        id: 'dashboard',
        label: 'Dashboard',
        route: path('admin_dashboard_index'),
        icon: 'fa fa-chart-line'
    }) }}
</ul>

{% if is_granted('ROLE_ADMIN') %}
    {{ include('@Core/admin/module/_menu_section.html.twig', {label: 'Content'}) }}

    <ul class="nav flex-column">
        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'site_navigation',
            label: 'Navigations',
            route: path('admin_site_navigation_index'),
            icon: 'fa fa-globe-europe'
        }) }}

        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'site_tree',
            label: 'Trees',
            route: path('admin_site_tree_index'),
            icon: 'fa fa-sitemap'
        }) }}

        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'site_page',
            label: 'Pages',
            route: path('admin_site_page_index'),
            icon: 'fa fa-file-alt'
        }) }}

        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'file_manager',
            label: 'Files',
            route: path('admin_file_manager_index'),
            icon: 'fa fa-photo-video'
        }) }}
    </ul>
{% endif %}

{{ include('admin/menu.html.twig') }}

{% if is_granted('ROLE_ADMIN') %}
    {{ include('@Core/admin/module/_menu_section.html.twig', {label: 'Administration'}) }}

    <ul class="nav flex-column">
        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'user',
            label: 'Users',
            route: path('admin_user_index'),
            icon: 'fa fa-user'
        }) }}

        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'task',
            label: 'Tasks',
            route: path('admin_task_index'),
            icon: 'fa fa-play'
        }) }}

        {{ include('@Core/admin/module/_menu_item.html.twig', {
            id: 'setting',
            label: 'Settings',
            route: path('admin_setting_index'),
            icon: 'fa fa-sliders-h'
        }) }}
    </ul>
{% endif %}
